path{
    fill:#f2f2f2;
    fill-rule:evenodd
}

#FR{
    fill:orange;
}

#TH{
    fill:orange;
}

#DZ{
    fill:orange;
}

#NZ{
    fill:orange;
}

#US{
    fill:orange;
}

#DE{
    fill:orange;
}

#ZA{
    fill:orange;
}

#SG{
    fill:orange;
}

#BR{
    fill:orange;
}

#ES{
    fill:orange;
}

#TR{
    fill:orange;
}

#EG{
    fill:orange;
}

#AU{
    fill:orange;
}

#JP{
    fill:orange;
}

#IT{
    fill:orange;
}

#MX{
    fill:orange;
}

#RU{
    fill:orange;
}

#GB{
    fill:orange;
}

#MN{
    fill:orange;
}

#TZ{
    fill:orange;
}

#GL{
    fill:orange;
}

#AE{
    fill:orange;
}

svg{
    margin-left:12%;
    stroke-linejoin: round;
    stroke:#000;
    fill: none;
}